.error-container {
  min-height: 80px;
  margin-top: 20px;
}

.error-type {
  font-size: 14px;
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}
